/* 
    Document   : vzTabPanel
    Created on : Jul 6, 2009, 3:51:34 PM
    Author     : kamil
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/


.vz-tabPanel {
    font-size: 11px;
}

.vz-tabHeader {
    border-bottom: 2px solid #333;
}

.vz-tabHeader-item {
    background-color:#ccc;
    float:left;
    padding:3px;
    margin-right:5px;
    cursor:pointer;
}

.vz-tabHeader-item-active {
    background-color:#333;
    float:left;
    padding:5px;
    margin-right:5px;
    cursor:pointer;
    color:#fff;
}

.vz-tabContent {
    padding: 4px;
}